@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка.</h1>

<br />
<br />

При обработке вашего запроса произошла внутренняя ошибка сервера.
Оповещение администратору отправлено.
Приносим извинения за доставленные неудобства.

<br />
<br />

Вы можете @Html.ActionLink("Вернуться в каталог", "Categories", "Catalog", null)

